@import url("css/complete-art.css");
@import url("css/complete-video.css");
@import url("css/drink-letter.css");
@import url("css/drink-line.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    max-width: 100%;
    background-color: black;
    overflow-x: hidden;
}

body {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
}

header {
    height: 100vh;
    background-image: url("images/ballast_point_banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    display: flex;
    position: fixed;
    z-index: 6;
    width: 100%;
    padding: 3rem 6rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.desktop-nav {
    display: flex;
    list-style: none;
    position: absolute;
    right: 2rem;
}

.mobile-nav {
    display: none;
}

.nav-links {
    margin: 0 2rem;
}

.nav-links:hover {
    color: red;
    cursor: pointer;
}

.mag-glass{
    height: 2vh;
}

.logo {
    height: 3.5vh;
}

.learn-more {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 80vh;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 3%;
    border: 0px;
}

.beers-drop-nav { 
    display: none;
}

.locations-drop-nav { 
    display: none;
}

.about-drop-nav {
    display: none;
}

@media screen and (max-width: 1300px) {
    .desktop-nav{
        display: none;
    }

    .logo {
        margin: 0 auto;
    }

    .burger {
        background-image: url("images/burger.png");
        height: 3.5vh;
        width: 2.25rem;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 5;
        list-style: none;
        height: 100vh;
        width: 100%;
    }

    .mobile-nav-bg {
        background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    }

    .mobile-nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transition: transform 0.3s ease-in;
        transform: translate(0, 2000%);
        font-size: 2rem;
        margin: 0 6rem;
        padding: 1rem 0rem;
        position: relative;
        top: 13vh;
        font-weight: bold;
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.274);
    }

    .mobile-nav-links:hover {
        color: red;
        cursor: pointer;
    }

    .arrow {
        height: 2vh;
    }

    .beers-drop-nav {
        flex-direction: column;
        position: fixed;
        z-index: 5;
        list-style: none;
        height: 100vh;
        width: 100%;
    }

    .mobile-drop-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        margin: 0 6rem;
        padding: 1rem 0rem;
        position: relative;
        top: 13vh;
        font-weight: bold;
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.274);
    }
}
